

#maindiv{
padding: 10px;
background: #F5F3F3;
}
#div1{
  
  height: 40px;
  width: 30px;
  
}
#divA{
  background:#E6DBDB;
  height: 40px;
  width: 260px;
  padding: 2px;
  margin-left: 40px;
  color: gray;
}
#divB{
  background:#E6DBDB;
  height: 40px;
  width: 260px;
  margin-top: 10px;
  padding: 2px;
  margin-left: 40px;
  color: gray;
}

#btn{
  height: 45px;
  width: 260px;
  margin-left:40px;
  background:		#2ECAA6;
  color: white;
  border-color: #2ECAA6;
  font-weight: bold;
  border:1px solid #2ECAA6;
  
}
#btn2{
  height: 32px;
  width: 76px;
  margin-left:13px;
  color: #20B2A0	;
  font-weight: bold;
  border:1px solid #20B2A0;;
  margin: 10px 10px;
}
#divC{
  float: left;
  margin-left: 40px;
}

#rmbr{
  background: #fff;
  height: 11px;
  width: 11px;
  border-radius: 150%;
  
  margin:2px 2px;
  border:3px solid gray;
  float: left;
  margin-left:10px;
}

#divp{
  margin-left:70px;
  width: px;
  height:px;
  background: ;
  float: ;
  color: gray;
  margin: 10px 10px;
}
#rp{
  margin-left: 30px;
}